<div class="container">
  <div class="favorite-books">

      <h2 class="favorite-title"><strong>Favorites</strong></h2>
      <ul>
        <% current_user.favorited_by_type('Book').each do |book| %>
          <li>
            <div class="card">
              <%=book.title%>, <%=book.author.first_name%> <%=book.author.last_name%>
                <%= link_to book_path(book) do %>
                <img src="<%= image_path('icons/edit_icon.svg') %>" alt="Add to my bookshelf" class="wishlist_diamant">
              <% end %>
          </li>
        <% end %>
            </div>
      </ul>
  </div>
</div>

