<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%#  %>
     <div class="nav nav-tabs">
      <div class="link"><%= link_to 'Books', dashboard_path %></div>
      <div class="link"><%= link_to 'Reco', recommended_books_path %></div>
      <%# <div class="link"><%= link_to 'Wishlist', wishlists_path %></div>
    </div>

    <div class="navbar navbar-expand-sm">

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <i class="profil-title">My profile</i>
              <li>
                <img class="profile_icon dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= image_path('icons/profile_icon.svg') %>"/>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "logout", destroy_user_session_path, method: :delete , class: "dropdown-item" %>
                   <a class="dropdown-item" href="#">Another action</a>
                </div>
              </li>
            </ul>
          </div>
        </div>



