
  <div class="space-header">
      <div class="link-dashboard">
        <div>
          <%= image_tag "bs-logo.png", class: "logo_icon" %>
        </div>
          <div class="title-user">
            <a> Hi <%= current_user.first_name%>!</a>
          </div>
           <div>
          <%= cl_image_tag current_user.photo.key, class:"avatar-user", crop: :fill %>
          </div>
      </div>
  </div>



    <div class="nav nav-tabs">



        <%= link_to dashboard_path do %>
            <% if params[:controller] == "pages" && params[:action] == "dashboard" %>
                <img src="<%= image_path('icons/book-open_celia.svg') %>" alt="search" class="book-open_celia">
            <% else %>
                <img src="<%= image_path('icons/book-open-grey_celia.svg') %>" alt="search" class="book-open-grey_celia">
            <% end %>
          <% end %>


        <%= link_to recommended_books_path do %>
            <% if params[:controller] == "books" && params[:action] == "recommended" %>
                  <img src="<%= image_path('icons/bookmarks_celia.svg') %>" alt="search" class="bookmarks_celia">
            <% else %>
                  <img src="<%= image_path('icons/bookmarks-grey_celia.svg') %>" alt="search" class="bookmarks-grey_celia">
            <% end %>
        <% end %>

        <button class="btn-nav" type="button"> <%= link_to search_path do %><img src="<%= image_path('icons/plus_celia.svg') %>" alt="search" class="plus_celia"><% end %></button>



        <%= link_to favorites_path do %>
            <% if params[:controller] == "favorites" && params[:action] == "index" %>
                  <img src="<%= image_path('icons/heart_celia.svg') %>"  class="heart_celia">
            <% else %>
                  <img src="<%= image_path('icons/heart-grey_celia.svg') %>"  class="heart-grey_celia">
            <% end %>
        <% end %>


        <div class="link">
          <div class="dropdown dropup">
            <img src="<%= image_path('icons/settings-grey_celia.svg') %>"  class="settings-grey_celia dropdown-toggle" data-toggle="dropdown">
            <div class="dropdown-menu">
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </div>
    </div>




