<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%#  %>

    <div class="nav nav-tabs">



        <%= link_to dashboard_path do %>
            <% if params[:controller] == "pages" && params[:action] == "dashboard" %>
                <img src="<%= image_path('icons/book-open_celia.svg') %>" alt="search" class="book-open_celia">
            <% else %>
                <img src="<%= image_path('icons/book-open-grey_celia.svg') %>" alt="search" class="book-open-grey_celia">
            <% end %>
          <% end %>



        <%= link_to recommended_books_path do %>
            <% if params[:controller] == "books" && params[:action] == "recommended" %>
                  <img src="<%= image_path('icons/heart_celia.svg') %>" alt="search" class="heart_celia">
            <% else %>
                  <img src="<%= image_path('icons/heart-grey_celia.svg') %>" alt="search" class="heart-grey_celia">
            <% end %>
        <% end %>



        <button class="btn-nav" type="button"> <%= link_to dashboard_path do %><img src="<%= image_path('icons/plus_celia.svg') %>" alt="search" class="plus_celia"><% end %></button>



        <%= link_to favorites_path do %>

            <% if params[:controller] == "favorites" && params[:action] == "index" %>
                  <img src="<%= image_path('icons/bookmarks_celia.svg') %>" alt="search" class="bookmarks_celia">
            <% else %>
                  <img src="<%= image_path('icons/bookmarks-grey_celia.svg') %>" alt="search" class="bookmarks-grey_celia">
            <% end %>
        <% end %>


        <div class="link">
          <img src="<%= image_path('icons/settings-grey_celia.svg') %>" alt="search" class="settings-grey_celia">
          <%# <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "logout", destroy_user_session_path, method: :delete , class: "dropdown-item" %>
              <%# <a class="dropdown-item" href="#">Home</a> %>
            <%# </div>
           <% end %>

        </div>
    </div>
      <%# <div class="link">
      <img width="130" height="130" class="round-img-dashboard" src="https://www.gravatar.com/avatar/6b844ee7b315c16675d09696731e369e.jpg" alt="jiwon">
      </div> %>

<%#     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>

     <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
    <%# <div class="container">
      <ul class="navbar-nav mr-auto">
      <i class="profile-title">Book Society</i> %>
        <%# <li> %>
          <%#  <img class="profile_icon dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= image_path('icons/profile_icon.svg')"/> %>
            <%# <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "logout", destroy_user_session_path, method: :delete , class: "dropdown-item" %>
              <%# <a class="dropdown-item" href="#">Home</a>
            </div> %>
        <%# </li> %>
      <%# </ul>
    </div> %>



