<div class="main-container-content">
  <div class="space-header">
    <div class="link-dashboard">
      <img class="round-img-dashboard" src="https://www.gravatar.com/avatar/6b844ee7b315c16675d09696731e369e.jpg" alt="jiwon">
      <a class="h1-dashboard py-5">Hi Jiwon</a>
    </div>
    <div>
      <%= link_to search_path do %>
        <img src="<%= image_path('icons/search_celia.svg') %>" alt="search" class="search_icon">
      <% end %>
    </div>
  </div>
  <ul>
    <% @my_read_books.each do |book| %>
      <li>
        <%= link_to book_path(book) do %>
          <strong><%= book.title %></strong>
        <% end %>
        | <%= book.author.name %> <%# | my review (<%= @user.reviews.find_by(book_id: book.id).rating %></li>
    <% end %>
  </ul>
</div>
