<div class="main-container-content">
  <div class="space-header">
    <div class="link-dashboard">
      <img class="round-img-dashboard" src="https://www.gravatar.com/avatar/6b844ee7b315c16675d09696731e369e.jpg" alt="jiwon">
      <a class="h1-dashboard py-5">Hi Jiwon</a>
    </div>
    <div>
      <%= link_to search_path do %>
        <img src="<%= image_path('icons/search_celia.svg') %>" alt="search" class="search_icon">
      <% end %>
    </div>
  </div>
  <h1><strong>My bookshelf</strong></h1>
  <div class="card-product-bookshelf">
    <% @reviews.each do |review| %>
        <div class="card-product-book">
          <% if review.book.photo.attached? %>
            <%= cl_image_tag review.book.photo.key, height: 150, crop: :fill %>
          <% end %>
            <ul class="bookshelf-list">
              <li>
                <%= link_to book_path(review.book) do %>
                  <strong><%= review.book.title %></strong>
                <% end %>
                <%= review.book.author.name %>
                <br><i><%= review.book.created_at.strftime("%B %d %Y")%></i>
                <br> Rating: <%= review.rating %>
              </li>
            </ul>
        </div>
    <% end %>
  </div>
</div>
