<div class="main-container-content">
  <div class="space-header">
    <div class="link-dashboard">
      <img class="round-img-dashboard" src="https://www.gravatar.com/avatar/6b844ee7b315c16675d09696731e369e.jpg" alt="jiwon">
      <a class="h1-dashboard py-5">Hi Jiwon</a>
    </div>
    <div>
      <%= link_to search_path do %>
        <img src="<%= image_path('icons/search_celia.svg') %>" alt="search" class="search_icon">
      <% end %>
    </div>

    <h1>My bookshelf</h1>




      <div class="card-product-bookshelf">
          <% @reviews.each do |review| %>
              <div class="card-product-book">
                <% if review.book.photo.attached? %>
                  <%= cl_image_tag review.book.photo.key, height: 150, crop: :fill %>
                  <% else %>
                  <img src="https://images.unsplash.com/photo-1591376815909-164dd0c596b4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGxpdnJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60">
                <% end %>
                  <ul class="bookshelf-list">
                    <li>
                      <%= link_to book_path(review.book) do %>
                        <strong><%= review.book.title %></strong>
                      <% end %>
                      <br><%= review.book.author.name %></br>
                      <br><i><%= review.book.created_at.strftime("%B %d %Y")%></i></br>
                        <br> Rating : <%= review.rating %></br>
                      </li>
                    </ul>
                 <% end %>
              </div>
        </div>

