<div class="main-container-content-entry">
  <div class="login mb-3">
    <%= link_to "Join us!", signup_path, class: "btn btn-reach"  %>
  </div>

      <div class="text-entry">
        <h1>Let's find the right book for you !</h1>
          <p> You don't know what to read ? You are looking for the perfect book matching your interests but no idea of where you can find it?</p>
          <a>Our app is dedicated to book lover and help you to organise your bookshelf</a>
      </div>

      <div class="card-product-pitch">
          <ul >
            <li>Connect to your personalized bookshelf </li>
              <img src="<%= image_path('icons/arrow_icon.svg') %>" alt="search" class="arrow_icon">

            <li> Search for the book that you read and add a review</li>
              <img src="<%= image_path('icons/arrow_icon.svg') %>" alt="search" class="arrow_icon">
            <li> Go to a book description and read the reviews that other reader left. </li>

              <img src="<%= image_path('icons/arrow_icon.svg') %>" alt="search" class="arrow_icon">
            <li> If it sounds great for you add it to your favorites book ! <img src="<%= image_path('icons/heart-red-celia.svg') %>"  class="heart_celia" Id="heart"></li>
          </ul>
      </div>

    <h1 style="margin-top: 56px;"> Ready to start ? Join our community !</h1>




    <div class="card-entry py-5">
        <img src="https://images.unsplash.com/photo-1571603772166-aecfc7104bf9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80" class="card-entry" Id="image_entry">

    </div>
</div>

