<div class="main-container">
  <div class="container recommended-books px-4 mb-3">
    <h1> <%= "You have #{@recommended_books.count} recommendations"%></h1>
    <p> <%= "Good work #{current_user.first_name} ! Be inspired to read something you really like." %> </p>
    <div class="recommended-list">
      <% @recommended_books.each do |recommended_book| %>
        <div class="card-recommended-book ">
          <h1> <%= "#{recommended_book.book.title}"%></h1>
          <p> <%= "#{recommended_book.book.author.first_name}, #{recommended_book.book.author.last_name}" %></p>
            <% if recommended_book.book.reviews.count > 0 %>
            <p><small><%= recommended_book.book.average_ratings %></small></p>
            <% end %>
            <div class="row footer-card-recommended-book">
              <%= link_to book_path(recommended_book.book), class:"col-6 text-center border-right border-light" do %>
                Preview
              <% end %>
                <%= link_to favorites_path(recommended_book.book), class:"col-6 text-center border-left border-light" do %>
                Wishlist
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
