<div class="main-container-content">

  <div class="flex-box-book-show">
      <div class="col rounded p-5">
        <% if @book.photo.attached? %>
          <%# <%= cl_image_tag @book.photo.key, height: 300, crop: :fill %>
        <% end %>

        <%# <% if @book.reviews.empty? %>
          <%# <p>There is nos review for this book</p> %>
          <% else %>
            <h1 class="title-book-show">Review of <%= @book.title %></h1>
            <%= @book.reviews.each do |book| %>
            <h2>Reviews <%= book.review.content %></h2>
            <h2>Rating <%= book.review.rating %>
            <h2>Your favorites books<%= book.review.top %></h2>
            <% end %>
        <% end %>
      </div>
  </div>

  <%= link_to "Add a review", new_book_review_path(@book), class: "btn btn-book"  %>

</div>
