<div class="main-container-content">

  <div class="flex-box-book-show">
      <div class="col rounded p-5">
        <% if @book.photo.attached? %>
          <%# <%= cl_image_tag @book.photo.key, height: 300, crop: :fill %>
        <% end %>
        <h1 class="title-book-show">Review of <%= @book.title %></h1>
        <h2>Reviews <%= @review.content %></h2>
        <h2>Rating <%= @review.rating %>
        <h2>Your favorites <%= @review.top %></h2>
      </div>
  </div>

  <%= link_to "Add a review", new_book_review_path(@book), class: "btn btn-book"  %>

</div>
