<div class="main-container-content">

  <div class="flex-box-book-show">
      <div class="col rounded p-5">
        <% if @book.photo.attached? %>
          <%= cl_image_tag @book.photo.key, height: 300, crop: :fill %>
        <% end %>
        <%# <% if @book.reviews.empty? %>
          <% unless current_user.books.include?(@book) %>
          <%= link_to "Add a review", new_book_review_path(@book), class: "btn btn-book"  %>
          <%# else %>
          <%#= link_to "Edit my review", update_book_review_path(@book), class: "btn btn-primary"  %>
          <% end %>
          <%# <% if @book.reviews.empty? %>

          <%# <p>There is nos review for this book</p> %>
          <%# <% else %>

          <h1 class="title-book-show"><strong><%= @book.title %></strong><br>
          <%= @book.author.first_name %> <%= @book.author.last_name %></h1>
          <br>
  <%#         <p>   STARS   </p>  %>

          <p><strong>Reviews</strong></p>
            <% @book.reviews.each do |review| %>
              <div class="review-card">
                <div class="review-content">
                  <%= review.content %>
                  - <strong><%= review.user.first_name %></strong>
                  <%= review.rating %>
                  <% review.top %>
                </div>
              </div>
            <% end %>
    </div>

</div>
