<div class="main-container-content">

  <div class="flex-box-book-show">
      <div class="col rounded p-5">
        <% if @book.photo.attached? %>
          <%= cl_image_tag @book.photo.key, height: 300, crop: :fill %>
        <% end %>

        <%# <% if @book.reviews.empty? %>
          <%# <p>There is nos review for this book</p> %>
          <%# <% else %>
            <h1 class="title-book-show"><%= @book.title %></h1>
        <%#   <%= @book.each do |book| %> 
  
          
<%= @book.reviews.each do |review| %>

            <%= review.content %>
           <%= review.rating %>
            <%= review.top %>
<% end  %>
      </div>
  </div>

  <%= link_to "Add a review", new_book_review_path(@book), class: "btn btn-book"  %>

</div>
