<div class="main-container py-5">
  <div class="row">
      <div class="bg-white rounded p-3 shadow">
        <h3 class="text-center mb-5 mt-3">Give your review</h3>
        <%= simple_form_for @review do |f| %>
          <%= f.input :content, placeholder: "what is your review?" %>
          <%= f.input :rating , placeholder: "what is your rating?" %>
          <%= f.input :top, placeholder: "what is your top book?" %>
          <%= f.input :photo, as: :file %>


          <%= f.submit class: 'btn-review mb-5' %>
        <%= link_to 'Back', dashboard_path %>

        <% end %>

      </div>
  </div>
</div>
