
<div class="main-container-content">
  <div class="review-form">
    <div class="rounded py-3">

      <% current_user.favorited_by_type('Book').each do |book|%>
          <%=book.title%>, <%=book.author.first_name%> <%=book.author.last_name %>
          <%  end %>

        <h3 class="text-center mb-5 mt-5"> Add to bookshelf </h3>
        <%= simple_form_for [@book, @review] do |f| %>
            <div class="rating mt-3">
              <%= f.input :rating, collection: (1..5).to_a, label: "Rating"%>
            </div>
        <%= f.input :content, placeholder: "Min 20 characters", label: "Thoughts" %>
        <%= f.submit class: 'btn-review mt-3', value: "Submit review"%>

        <% end %>

    </div>
  </div>
</div>
