<div class="main-container-content">
  <div class="review-form">
    <div class="rounded py-3">
      <div class="container">
        <div class="card-product-review">
          <% if @book.photo.attached? %>
            <%= cl_image_tag @book.photo.key, height: 300, crop: :fill, class: "review-img" %>
          <% end %>
            <% unless current_user.books.include?(@book) %>
          <% end %>
          <div>
              <h5 class="review-title"><strong><%=@book.title%></strong></h5>
              <br>
                <div class="subtitle-review-new">
                  <%=@book.author.first_name%>
                  <span><%=@book.author.last_name %></span>
                </div>
          </div>
        </div>


        <div class="review-input">
          <%= simple_form_for [@book, @review] do |f| %>
            <div class="rating-stars-review">
            <%= f.input :rating, collection: (1..5).to_a, label: "Give a rating", class:"stars-css"%>
            </div>

          <div class="review-form mt-3">
              <%= f.input :content, placeholder: "Min 30 characters", label: "Your opinion matters", data: { disable_with: false } %>
              <div class="post-button" >
                <%= f.submit class: 'btn-review',value: "Post", data: { disable_with: false }%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
