<div class="main-container">
  <div class="review-form">
    <div class="bg-white rounded p-3">
      <h3 class="text-center mb-5 mt-3"> <%= svg("edit_icon") %>Leave a review</h3>
      <%= simple_form_for [@book, @review] do |f| %>

          <div class="rate">
            <%= f.radio_button :rating, 5, id: "star5", type: "radio"%>
            <label for="star5" title="text"><span class="fa fa-star checked"></span></label>
            <%= f.radio_button :rating, 4, id: "star4", type: "radio"%>
            <label for="star4" title="text"><span class="fa fa-star checked"></span></label>
            <%= f.radio_button :rating, 3, id: "star3", type: "radio"%>
            <label for="star3" title="text"><span class="fa fa-star checked"></span></label>
            <%= f.radio_button :rating, 2, id: "star2", type: "radio"%>
            <label for="star2" title="text"><span class="fa fa-star checked"></span></label>
            <%= f.radio_button :rating, 1, id: "star1", type: "radio"%>
            <label for="star1" title="text"><span class="fa fa-star checked"></span></label>
          </div><br>
        <%= f.input :content, placeholder: "What did you think of this book?" %>
        <%#= f.radio_button :top, label: "Add to my favorite" %>
          <div class="heart-div">
            <%= f.radio_button :top, class: "heart-radio", type: "radio"%>
            <label for="heart" title="text"><i class="fas fa-heart"></i> Add to favorites</label>
          </div>

        <%= f.submit class: 'btn-review mb-5' %><br>
        <%= link_to 'Back', book_reviews_path %>

      <% end %>

    </div>
  </div>
</div>
