<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: 'Book Society • Discover & review books you read',
                          keywords: %w[book society review],
                          description: "Track the books you read, discover great titles thanks to the reviews left by people you trust."%>

    <meta http-equiv="home" content="_top">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag 'logo.png' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

  <%= yield %>
  </body>
</html>

